.Logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-image: url("https://i.imgur.com/GgdF7Ip.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--tan-2);
}

.smallLogo {
    height: 12vmin;
    width: 32vmin;
    font-size: 2.7vmin;
    border: .5vmin double var(--tan-3);
}

.largeLogo {
    height: 30vmin;
    width: 90vmin;
    font-size: 7vmin;
    border: 1vmin double var(--tan-3);
}