.MenuListItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between;
  align-items: center; */
  margin-bottom: 3vmin;
  padding: 2vmin;
  color: var(--tan-3);
  background-color: var(--black);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  font-size: 4vmin;

  .mainItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 4vmin;
  }

  .extraItem {
    font-size: 2vmin;
    color: var(--text-light);

    .info {
      margin: 1vmin;
      margin-bottom: 2vmin;
    }

    .commentsContainer {
      background-color: rgb(58, 58, 58);
      border: .1vmin solid var(--tan-3);
      border-radius: 1vmin;
      margin: 1vmin;

      .commentsTitle {
        list-style-type: none;

        .comment {
          border: .1vmin solid var(--tan-3);
          border-radius: 1vmin;
          margin: 1vmin;
          margin-right: 5vmin;
          background-color: var(--dark-gray);

          .commentUser, .commentDate {
            margin: 1vmin;
            font-size: 1.5vmin;
            color: var(--tan-3);
          }

          .commentContent {
            border: .1vmin solid var(--tan-3);
            border-radius: 1vmin;
            margin: 1vmin;
            padding: 1vmin;
            background-color: var(--text-light);
            color: var(--black);
          }
        }
      }

      .submitComment {
        margin: 5vmin;

        .typeComment {
          background-color: var(--text-light);
          border: .1vmin solid var(--tan-3);
          color: var(--black);
          width: 23.6vmax;
          font-family: 'Eater', cursive;;
        }

        .addCommentBtn {
          background-color: var(--plum);
          color: var(--tan-3);
          font-family: 'Eater', cursive;;
          border: .1vmin solid var(--tan-3);
          width: 8vmax;
          font-size: 2vmin;
        }

        .addCommentBtn:hover {
          background-color: var(--blood-red);
          cursor: pointer;
        }
      }
    }
  }
}

.MenuListItem .emoji {
  height: 8vw;
  width: 8vw;
  font-size: 4vw;
  background-color: var(--text-light);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
}

.MenuListItem .buy {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  button {
    margin-top: 2vmin;
    margin-bottom: -1vmin;
  }

  .rating span {
    font-size: 2vmin;
  }
}

.MenuListItem .buy span {
  font-size: 1.7vw;
  text-align: center;
  color: var(--text-light);
}

.MenuListItem .name {
  font-size: 2vw;
  text-align: center;
  color: var(--tan-3);
  cursor: pointer;
}